
.book {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #f6e4ac;
}

.book.favourite {
    border: 1px solid #b003fd;
    background-color: #dbf6ac;
}

.bookImg {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}